[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[user]
  name = Josh Freeman
  email = jdfreeman11@gmail.com
  signingkey = FCCB3C51
[push]
  default = simple
[color]
  ui = auto
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  whitespace = red reverse
[core]
  old = blue
  editor = vim
  excludesfile = /Users/josh/.gitignore_global
  filemode = true
[alias]
  a = add
  ad = add
  ap = add --patch
  amend = commit --amend -v
  c = commit
  s = status -sb
  co = checkout
  cob = checkout -b
  com = checkout master
  commend = blame
  coj = checkout jdfreeman
  d = diff
  dw = diff --word-diff
  dc = diff --cached
  thank = blame
  delete-merged-branches = "!f() { git checkout --quiet master && git branch --merged | grep --invert-match '\\*' | xargs -n 1 git branch --delete; git checkout --quiet @{-1}; }; f"
  # https://davidwalsh.name/delete-merged-branches-git
[merge]
  ff = false
  gpg-sign = F92BE956
[commit]
  template = ~/.gitcommittemplate
[diff]
  algorithm = patience
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
